@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* font-family: "Quicksand", serif; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Quicksand", serif;
}
:root{
    --main-color-1:#FEA301;
    --main-color-2:#01ACFD;
    --color-3:#05D4DF;
    --color-4:#5D58EF;
    --font-color:#111111;
    --bg-color:#F7F7F7;
}
html{
    font-size: 62.5%;
}
body{
    max-width: 1440px;
    margin:0 auto;
    /* padding: 0 14rem; */
    background-color: var(--bg-color);
    /* background-color: aquamarine; */
}
.section{
    padding: 0 140px;
}




/* common style start */
p, a, button{
    font-size: 2rem;
}
p,h1,h2{
    color: var(--font-color);
}
.btn{
    background-color: var(--main-color-1);
    color: #FFF;
    padding: 1rem;
    border-radius: 1.2rem;
    border: none;
}
.orange{
    color: var(--main-color-1);
}
.sky-blue{
    color: var(--main-color-2);
}
/* common style end */





/* nav bar style start */
.menu-bar{
    display: none;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6.2rem;
    /* background-color: aqua; */
    /* padding: 2rem 0; */
    margin: 2rem 0;
}
.nav-section .logo{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1.1rem;
}
.nav-section .logo img{
    height: 100%;
}
.nav-section .logo p{
    font-size: 3.2rem;
    font-weight: bold;

}
.nav-section  ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}
.nav-section  ul li a{
    font-weight: 500;
    line-height: 3rem;
}
.home{
    color: var(--main-color-1);
    font-weight: bold;
}
.about{
    color: var(--main-color-2);
}
.facilities{
    color: var(--color-3);

}
.admission{
    color: var(--color-4);
}
.nav-btn{
    padding: 1rem 6.05rem;
    font-weight: 600;
    line-height: 3rem;
    border: none;
}
/* nav bar style end */

/* banner style start */
.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    /* margin-bottom: 6rem; */
}
.banner-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem;
}
.banner-title{
    font-size: 5.6rem;
    font-weight: bold;
    line-height: 6.1rem;
}
.banner-btn{
    background-color: var(--font-color);
    font-weight: bold;
    line-height: 3rem;
    padding: 1rem 4.7rem;
}
/* banner style end */

/* curriculim section start  */
 /* body{
    position: relative;
} */
.curriculum-section{
    /* position: absolute; */
    background-image: url(../assets/bg.png);
    background-size: cover;
    width: 100%;
    /* background-color: #05D4DF; */
    padding-top: 6rem;
}
.curriculum-section > .title{
    font-size: 4.6rem;
    line-height: 5.75rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8rem;
}
.curriculum-section .boxs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.8rem;
}
.curriculum-section .boxs .box{
    /* max-height: 425px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 18.86px;
    padding: 52.82px 40.5px 53.76px;
    box-shadow:inset 0px 0px 28.2px 0.94px rgba(0, 0, 0, 0.05);
    /* background-image: linear-gradient(#DEF5FF, #FFFFFF); */
}
.curriculum-section .boxs .box-1{
    background-image: linear-gradient(#DEF5FF, #FFFFFF);
    border: 2px solid #DEF5FF;
}
.curriculum-section .boxs .box-2{
    background-image: linear-gradient(#FFF4DC, #FFFFFF);
    border: 2px solid #FFF4DC;
}
.curriculum-section .boxs .box-3{
    background-image: linear-gradient(#EEE1FF, #FFFFFF);
    border: 2px solid #F2E8FF;
}
.curriculum-section .boxs .box .img{
    width: 136.76px;
    height: 136.76px;
    margin-bottom: 32.07px;
}
.curriculum-section .boxs .box .img img{
    width: 100%;
}
.curriculum-section .boxs .box .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.curriculum-section .boxs .box .description .title{
    font-size: 24px;
    font-weight: bold;
    line-height: 30.7px;
    color: var(--font-color);
    margin-bottom: 33.48px;
}
.curriculum-section .boxs .box .description .para{
    font-size: 15.09px;
    font-weight: 500;
    line-height: 28.3px;
    color: #808080;
    margin-bottom: 33.95px;
}
.read-more a{
    font-size: 15.09px;
    font-weight: bold;
    line-height: 28.3px;
}
.box-1 .read-more a{
    color: #64C8FF;
}
.box-2 .read-more a{
    color: #F0AA00;
}
.box-3 .read-more a{
    color: #8700FF;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 8rem;
    padding-bottom: 6rem;
}
.arrow div{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--main-color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s linear, background-color 0.2s linear;
}
.arrow div:hover{
    background-color: rgba(240, 170, 0, 0.95);
}
.arrow .left:hover{
    transform: translateX(-10px);
}
.arrow .right:hover:hover{
    transform: translateX(10px);
}
.arrow div i{
    font-size: 24px;
    line-height: 24px;
    color: white;
}
/* curriculim section end */

/* stories section start */
#hide-2, #hide-3{
    display: none;
}
.stories-section{
    padding: 6rem 14rem;
    background-image: url(../assets/bg.png), linear-gradient(#FFF, rgba(254,163,1,0.3));
    /* background-size: contain; */
    /* background-position: center; */
}
.stories-section .title{
    font-size: 4.6rem;
    font-weight: bold;
    line-height: 5.75rem;
    text-align: center;
}
.stories-cards{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1.9rem;
    padding: 8rem 0rem;
}
.stories-cards .card-1{
    grid-row: 1/3;
}
.stories-cards .card{
    border-radius: 1.6rem;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}
.stories-img{
    width: 100%;
    margin-bottom: 3.833rem;
    /* border-radius: 1.6rem 1.6rem 0rem 0rem; */
    position: relative;
}
.card-1 .stories-img{
    margin-bottom: 5.863rem;
}
.stories-img .date{
    position: absolute;
    background-color: #95B226;
    padding: 10px 19px;
    border-radius: 47.93px;
    left: 7%;
    bottom: 0;
    transform: translateY(50%);
}
.card-3 .stories-img .date{
    background-color: #5D58F0;
}
.stories-img .date p{
    font-size: 15.35px;
    font-weight: 500;
    line-height: 28.8px;
    color: #FFF;
}
.card-1 .stories-img .date{
    position: absolute;
    background-color: #3CD8E8;
    padding: 15px 19px;
    border-radius: 47.93px;
    left: 7%;
    bottom: 0;
    transform: translateY(50%);
}
.card-1.stories-img .date p{
    font-size: 15.35px;
    font-weight: 500;
    line-height: 28.8px;
    color: #FFF;
}
.stories-img img{
    width: 100%;
    border-radius: 1.6rem 1.6rem 0rem 0rem;
    /* margin-bottom: 3.833rem; */
}
.card-1 .stories-img img{
    width: 100%;
    border-radius: 1.6rem 1.6rem 0rem 0rem;
    /* margin-bottom: 5.863rem; */
}
.card .stories-description{
    margin: 0rem 3.8rem 2.9rem;
}
.card .stories-description .card-title{
    font-size: 1.534rem;
    font-weight: bold;
    line-height: 2.88rem;
    color: #000;
}
.card-1 .stories-description{
    margin: 0rem 3.835rem 3.452rem;
}
.card-1 .stories-description .card-title{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.84rem;
    margin-bottom: 5.17rem;
}
.card-1 .stories-description .para{
    font-size: 1.534rem;
    font-weight: 500;
    line-height: 2.88rem;
}
.stories-btn{
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 1.2rem;
    background-color: var(--font-color);
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
    padding: 1rem 6.1rem;
}
/* stories section end */

/* footer section start */
.edu-2{
    display: none;
}
.footer-section{
    background-color: var(--main-color-2);
}
.footer-details{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 12.3rem 0rem 17.6rem;
}
.details-1{
    grid-column: 1/3;
    max-width: 400px;
}
.details-1 .head{
    display: flex;
    gap: 10.7px;
    /* background-color: #FFF; */
}
.details-1 .head .img{
    display: block;
    width: 82.9px;
    height: 82.9px;
    background-color: #FFF;
}
.details-1 .head .img img{
    width: 100%;
}
.details-1 .head p{
    font-size: 4.214rem;
    font-weight: bold;
    line-height: 3.95rem;
    width: 82.9px;
    color: #FFF;
}
.details-1 > p{
    font-size: 2rem;
    color: #FFF;
}

.details-2 .about{
    color: #FFF;
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 3.2rem;
}
.details-2 ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.details-2 ul li a{
    font-size: 2rem;
    color: #FFF;
    font-weight: 500;
}

.details-3 .social-icon{
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 2.6rem;
    margin-bottom: 3.2rem;
    color: #FFF;
}
.details-3 ul{
    display: flex;
    gap: 1.015rem;
}
/* footer section end */










/* responsive */

@media only screen and (max-width:1300px) {
    /* body{
        padding: 0 3vw;
    } */
    .section{
        /* padding-left: 0;
        padding-right: 0; */
        padding: 0 3vw;
    }
    .stories-section{
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    /* .footer-details{
        margin:0 20px;
    } */
}



/* laptop */
@media only screen and (max-width:1024px) {
    html{
        font-size: 55%;
    }
    .nav-section ul{
        gap: 2.4rem;
    }
    /* banner */
    .banner-title{
        font-size: 32px;
        line-height: normal;
    }
    .banner-img{
        width: 100%;
    }
    .banner-img img{
        width: 100%;
    }
    /* curriculum */
    .curriculum-section .boxs{
        gap: 2.4rem;
    }
    .curriculum-section .boxs .box{
        border-radius: 18.86px;
        padding: 42.82px 30.5px 43.76px;
        /* background-image: linear-gradient(#DEF5FF, #FFFFFF); */
    }
    .curriculum-section .boxs .box .img{
        width: 136.76px;
        height: 136.76px;
        margin-bottom: 30.07px;
    }
    .curriculum-section .boxs .box .img img{
        width: 100%;
    }
    .curriculum-section .boxs .box .description .title{
        font-size: 20px;
        line-height: 30.7px;
        margin-bottom: 20px;
    }
    .curriculum-section .boxs .box .description .para{
        font-size: 14.09px;
        line-height: 26.3px;
        margin-bottom: 24px;
    }
    
    
    
    
}



/* tab */
@media only screen and (max-width:768px) {
    html{
        font-size: 50%;
    }
    body{
        padding: 0;
        margin: 0;
    }
    .section{
        padding-left: 0;
        padding-right: 0;
        /* padding: 0 3vw; */
    }
    .nav-section{
        height: 70px;
        /* background-color: aqua; */
        margin: 0;
        padding: 12px 16px;
        border: 1px solid var(--main-color-1);
    }
    .nav-btn{
        padding: 1.2rem 4.05rem;
        line-height: 2rem;
        border: none;
        display: none;
    }
    .nav-section ul{
        display: none;
    }
    .menu-bar{
        display: block;
        height: 30px;
        width: 30px;
    }
    .menu-bar i{
        font-size: 30px;
        color: var(--font-color);
    }
    /* banner */
    .banner-section{
        padding: 0 16px;
        gap: 18px;
    }
    .banner-title{
        font-size: 26px;
        line-height: normal;
    }
    .banner-para{
        font-size: 14px;
    }
    .banner-btn{
        font-size: 16px;
    }
    /* curriculum */
    .curriculum-section{
        margin-top: 40px;
    }
    .curriculum-section .boxs{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
        width: 100%;
        padding: 0px 16.5px;
        /* width: 90%; */
    }
    /* .curriculum-section .boxs .box{
        width: 90%;
    } */
    .curriculum-section > .title{
        font-size: 26px;
    }
    .arrow{
        display: none;
    }
    /* stories */
    .stories-section{
        padding: 40px 0px;
    }
    .stories-section .title{
        font-size: 26px;
        font-weight: bold;
        line-height: 57.5px;
    }
    .stories-cards{
        padding: 20px 16px;
        grid-template-columns: repeat(2,1fr);
        gap: 11.31px;
    }
    #hide-2, #hide-3{
        display: block;
    }
    #hide-1{
        display: none;
    }
    .card{
        border-radius: 9.53px;
    }
    .card .img{
        margin-bottom: 22.82px;
    }
    .card img{
        border-radius: 9.53px 9.53px 0px 0px;
        
    }
    .card .date{
        padding: 6px 11.42px;
        border-radius: 28.54px;
    }
    .card .date p{
        font-size: 9.13px;
        font-weight: 500;
        line-height: 17.1px;
    }
    .card .stories-description{
        margin: 0rem 22.65px 17px;
    }
    .card .stories-description .card-title{
        font-size: 9.31px;
        font-weight: bold;
        line-height: 17.1px;
    }
    .stories-btn{
        border-radius: 12px;
        font-size: 16px;
        line-height: 30px;
        padding: 0px 37px;
    }
    /* footer */
    .edu-1{
        display: none;
    }
    .edu-2{
        display: block;
        font-size: 35.73px;
        line-height: 35.5px;
    }
    .footer-details{
        grid-template-columns: 1fr;
        gap: 32px;
        padding: 60px 0px;
    }
    .details-1 .head .img{
        width: 70px;
        height: 70px;
        margin-bottom: 22.77px;
    }
    .details-1 > p{
        font-size: 16px;
        font-weight: 400;
    }

    .about{
        font-size: 20.35px;
        font-weight: 600;
        margin-bottom: 27.57px;
    }
    .details-2 ul{
        gap: 17.15px;
    }
    .details-2 ul li a{
        font-size: 17px;
        font-weight: 500;
    }

    .details-3 .social-icon{
        font-size: 22px;
        font-weight: bold;
        line-height: 22px;
        margin-bottom: 37px;
    }
    .details-3 ul{
        gap: 8.5px;
    }
}



/* mobile */
@media only screen and (max-width:425px) {
    .logo p{
        display: none;
    }
    .logo img{
        border: 1.5px solid var(--main-color-1);
    }
    .menu-bar p{
        height: 30px;
        width: 30px;
        border: 1.5px solid var(--main-color-1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-bar i{
        display: block;
        font-size: 22.5px;
    }
    /* banner */
    .banner-section{
        flex-direction: column-reverse;
        gap: 20px;
        margin-top: 8px;
        padding: 20px 16px;
    }
    .banner-img{
        padding: 0px 10.21px;
    }
    .banner-description{
        align-items: center;
        text-align: center;
    }
    .banner-btn{
        border-radius: 8px;
        padding: 6px 24px;
    }
    /* curriculum */
    
    .curriculum-section .boxs{
        gap: 12.3px;
    }
    .curriculum-section .boxs .box{
        border-radius: 12.77pxpx;
        padding: 36px 28px;
        /* background-image: linear-gradient(#DEF5FF, #FFFFFF); */
    }
    
    .curriculum-section .boxs .box .img{
        width: 92.6px;
        height: 92.6px;
        margin-bottom: 22px;
    }
    .curriculum-section .boxs .box .img img{
        width: 100%;
    }
    .curriculum-section .boxs .box .description .title{
        font-size: 16.6px;
        line-height: 20.8px;
        margin-bottom: 22px;
        color: #202020;
    }
    .curriculum-section .boxs .box .description .para{
        font-size: 10.22px;
        font-weight: 500;
        line-height: 19.2px;
        margin-bottom: 22px;
    }
    .read-more a{
        font-size: 10.22px;
        font-weight: bold;
        line-height: 19.2px;
    }
    .arrow{
        display: none;
    }
    /* stories */
    /* .stories-cards{
        grid-template-columns: repeat(1,1fr);
    } */

    /* -----------------------see css style in width 768px----------------*/


    /* footer */
    .footer-details{
        grid-template-columns: 1fr;
    }
    .details-1{
        grid-column: 1/2;
    }
}